html {
  box-sizing: border-box;
}

* , *:before , *:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(0deg , rgb(3 1 41) 0% , rgb(86 8 144) 100% , rgba(0 , 212 , 255 , 1) 100%);
  color: rgb(250 , 250 , 250);
  text-align: center;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

input , button {
  padding: 0 8px;
  border: none;
}

button {
  height: 32px;
  background-color: rgb(250 , 250 , 250);
  color: rgb(82 7 139);
  cursor: pointer;
  border-radius: 4px;
}

button:active {
  background-color: red;
}

ol {
  padding: 0;
  margin: 8px auto;
  width: fit-content;
  list-style-position: inside;
}

li {
  text-align: start;
  vertical-align: middle;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#input-button {
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;
}

#input-button > * {
  border-radius: 0;
}

#texto-tarefa {
  width: 180px;
  height: 32px;
}

.selected {
  background-color: rgb(67 , 76 , 89);
}

.completed {
  text-decoration: line-through;
  background-color: rgb(8 , 174 , 27);
}

#adicionar-tarefa {
  border-left: 1px solid rgb(82 7 139);
}

#aside-settings {
  width: 240px;
  height: 400px;
  background-color: white;
  border-radius: 8px;
}
